extends layout

include mixins/_sideNav

block content
	header.music__header
		h2= data.name

	main
		+sideNav()


		section.music__detail
			div
				img(src=data.images[0].url, alt="")
			if data.tracks
			table
				tr
					th Title
					th Duration
					th


				each track in data.tracks.items
					if track.track
						- track = track.track
						//- pre= h.dump(track)

					//- pre= h.dump(track.track)
					tr
						td= track.name
						td= h.milliToMinSec(track.duration_ms) 
						if loggedIn
							td
								button(class="track__add" data-track-id=track.id) + 
	
	section.music__player
		//- p PLAYER


	script(src="/public/offline.js")
	script(src="/public/socket.io/socket.io.js")
	script(src="/public/bundle.js")
	
