extends layout

include mixins/_sideNav

block content
	header.music__header
		h2= data.name

	main
		+sideNav()

		section.music__detail
			div
				img(src=data.playlist.image.url, alt="")
			if data.playlist.tracks.length
				table
					tr
						th Title
						th Duration
						th

				pre= data.playlist.tracks.length

					each track in data.playlist.tracks
						if track.track
							- track = track.track

						tr(id=track.id)
							td= track.name
							td= h.milliToMinSec(track.duration_ms)
							if isOwner
								td
									button(class="track__remove" data-track-id=track.id) -
			else
				p There are no tracks added to this room yet. Why not add one yourself?


	script(src="/public/offline.js")
	script(src="/public/socket.io/socket.io.js")
	script(src="/public/bundle.js")