extends layout

include mixins/_sideNav

block content
	header.music__header
		h2= data.name

	main
		+sideNav()

		section.music__detail
			div
				img(src=data.playlist.image.url, alt="")
			if data.playlist.tracks
				table
					tr
						th Title
						th Duration
						th


					each track in data.playlist.tracks
						if track.track
							- track = track.track
							//- pre= h.dump(track)

						//- pre= h.dump(track.track)
						tr
							td= track.name
							td= h.milliToMinSec(track.duration_ms)
							//- if loggedIn
								td
									button(id=track.id class="track__add" data-uri=track.uri) + 


	script(src="/public/socket.io/socket.io.js")
	//- is needed to make the data available in the bunlde.js
	script(src="/public/bundle.js")