extends layout

include mixins/_sideNav

block content
	header.music__header
		h2= data.name

	main
		+sideNav()

		section.music__detail
			div
				img(src=data.playlist.image.url, alt="")
			if data.playlist.tracks.length
				table.room__playlist
					tr
						th Title
						th Duration
						th 
						if (isOwner)
							th

					each track, index in data.playlist.tracks
						if track.track
							- track = track.track

						tr(id=track.id)
							td= track.name
							td= h.milliToMinSec(track.duration_ms)
							td
								button(class="track__action  track__playBtn" data-track-uri=`spotify:track:${track.id}` data-track-index=index)!= h.icon('play')
							if isOwner
								td
									button(class="track__action  track__remove" data-track-id=track.id data-track-index=index)
										!= h.icon('remove')
			else
				p There are no tracks added to this room yet. Why not add one yourself?

		//- section.music__player

	script(src="https://sdk.scdn.co/spotify-player.js")
	script(src="/public/offline.js")
	script(src="/public/socket.io/socket.io.js")
	script.
		var accessToken = JSON.stringify("#{token}");
	script(src="/public/bundle.js")